# Ignorer environnement virtuel
# Environnements virtuels
venv/
.env
.env.*

# Fichiers Python temporaires et caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers inutiles ou générés automatiquement
*.log
*.zip
*.tar
*.gz
*.tmp
.DS_Store

# Notebooks checkpoints
.ipynb_checkpoints/

# Bibliothèques et dépendances (à réinstaller via requirements.txt)
*.egg-info/
.eggs/
dist/
build/